.video-box {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  max-height: 80rem;
  max-width: 80rem;
}
